@model PointsProject.Models.UpcomingEventsViewModel

@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Warrior Wallet</h1>
    <p class="lead">Lewis-Clark State College Auction Points Program.</p>
    
    <p><a href="http://lcsc.edu" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Lewis-Clark State College Points System gives the students the ability to collect and spend points
                based on their activities around the campus.
            </p>
            <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Campus Events</h2>
            <table style="width:100%">
                @*I was not able to find the right css that matches with all the other fonts, but its close
    instead of adding to actual css file, I recommend changing on the styles like what I did below*@
                @foreach (var group in Model.EventGroups)
                {
                <tr>
                    <th colspan="2" style="font-size:14px;font-weight:normal;"><i>@group.Events</i></th>
                    <th colspan="2" style="font-size:14px;font-weight:normal;">@group.startdate</th>
                    <th colspan="2" style="font-size:14px;font-weight:normal;">@group.points</th>
                </tr>
                }
                    
</table>
            <p><a class="btn btn-default" href="/Event/Event">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Check your points</h2>
            
            <p>
                <table style="width:100%">
                     
                    @foreach (var group in Model.EventGroups)
                {
                        <tr>
                            <th colspan="2" style="font-size:14px;font-weight:normal;"><i>@group.Events</i></th>
                            <th colspan="2" style="font-size:14px;font-weight:normal;">@group.startdate</th>
                            <th colspan="2" style="font-size:14px;font-weight:normal;">@group.points</th>
                        </tr>
                    }
                    
                </table>
            </p>
        </div>
    </div>
}

else
{
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lewis-Clark State College Points System gives the students the ability to collect and spend points
            based on their activities around the campus.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Campus Events</h2>
        
        <table style="width:100%">
            
            @foreach (var group in Model.EventGroups)
                {
                <tr>
                    <th colspan="2" style="font-size:14px;font-weight:normal;"><i>@group.Events</i></th>
                    <th colspan="2" style="font-size:14px;font-weight:normal;">@group.startdate</th>
                    <th colspan="2" style="font-size:14px;font-weight:normal;">@group.points</th>
                </tr>
            }
            
        </table>
        <p><a class="btn btn-default" href="/Event/Event">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check your points</h2>
        <p>You can easily check your point by log in to your account.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
}