@model PointsProject.Models.UpcomingEventsViewModel
@using CalendarData = Google.Apis.Calendar.v3.Data;

<h2>@ViewBag.Title</h2>
@helper FormatEventTime(CalendarData.EventDateTime when)
{
    // Either Date or DateTime is set, depending on whether or not the event is
    // an all-day event.

if (when.DateTime == null)
    {
        //<text>All day</text>
    }
    else
    {
        @:@when.DateTime.Value.ToShortTimeString()
    }
}
@helper FormatEventLength(CalendarData.EventDateTime start, CalendarData.EventDateTime end)
{
var duration = end.DateTime - start.DateTime;
if (duration == null)
{
        <text>All day</text>
}
else
{
        @:@string.Format(
            "{0} hour{1} {2} minute{3}",
            (int)duration.Value.TotalHours,
            duration.Value.TotalHours >= 2 ? "s" : "",
            (int)duration.Value.Minutes,
            duration.Value.Minutes >= 2 ? "s" : "")
    }
}
<h2>Upcoming Events</h2>

<table class="table">
    @foreach (var group in Model.EventGroups)
    {
        <tbody>
            <tr><th colspan="6" align="right"><i><a href="@group.thelink">@group.Events</a></i></th></tr>
            <tr><th colspan="4" style="margin:200px">   @group.fromcalendar</th></tr>
            <tr><th colspan="4">   @group.startdate</th></tr>
            <tr><th colspan="4">   @group.points</th></tr>
            
        </tbody>
    }

</table>
